<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Інформаційна панель адміністратора</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Інформаційна панель адміністратора</h1>
<div class="dashboard-buttons">
    <a th:href="@{/admin/{id}/users(id=${adminId})}" class="btn btn-primary">Кервання користувачами</a>
    <a th:href="@{/admin/{id}/restaurants(id=${adminId})}" class="btn btn-secondary">Керування закладами</a>
    <a th:href="@{/user/{id}/home(id=${adminId})}" class="btn btn-secondary">Домашня сторінка</a>
</div>
</body>
</html>
