<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Додавання страви</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Додавання страви</h1>

<div>
    <a th:href="@{'/admin/' + ${adminId} + '/restaurant/' + ${restaurantId} + '/dishes'}" class="btn btn-secondary">
        До списку страв
    </a>
</div>

<form th:action="@{'/admin/' + ${adminId} + '/restaurant/' + ${restaurantId} + '/add-dish'}"
      th:object="${dish}"
      method="post">
    <div>
        <label for="name">Назва</label>
        <input type="text" id="name" th:field="*{name}" required>
    </div>

    <div>
        <label for="description">Опис</label>
        <textarea id="description" th:field="*{description}" required></textarea>
    </div>

    <div>
        <label for="price">Ціна</label>
        <input type="number" id="price" th:field="*{price}" step="0.01" min="0" required>
    </div>

    <div>
        <label for="dishType">Тип</label>
        <select id="dishType" th:field="*{dishType}">
            <option th:each="type : ${types}"
                    th:value="${type}" th:text="${type}">Dish Type
            </option>
        </select>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Add Dish</button>
    </div>
</form>

</body>
</html>
