<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ресторанні страви</title>
    <link rel="stylesheet" href="/static/css/dish-list.css">
</head>
<body>
<div class="container">
<h1 th:text="${restaurant.getName()} + ' страви'">Ресторанні страви</h1>


<table>
    <thead>
    <tr class="columns">
        <th>Назва</th>
        <th>Опис</th>
        <th>Ціна</th>
        <th>Тип</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dish : ${dishes}">
        <td th:text="${dish.getName()}">Dish Name</td>
        <td th:text="${dish.getDescription()}">Description</td>
        <td th:text="${dish.getPrice()}">Price</td>
        <td th:text="${dish.getDishType()}">Dish Type</td>
        <td colspan="4">
            <a th:href="@{'/admin/' + ${adminId} + '/restaurant/' + ${restaurantId} + '/dish/' + ${dish.getId()} + '/edit'}"
               class="btn btn-secondary">Редагувати</a>
            <form th:action="@{'/admin/' + ${adminId} + '/restaurant/' + ${restaurantId} + '/dish/' + ${dish.getId()} + '/delete'}"
                  method="post" th:object="${dish}" style="display:inline;">
                <button type="submit" class="btn btn-danger">Видалити</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a class="button-add" th:href="'/admin/' + ${adminId} + '/restaurant/' + ${restaurantId} + '/add-dish'">
    Додати страву</a>
<a class="button-add" th:href="@{'/admin/' + ${adminId} + '/restaurants'}">До списку ресторанів</a>
</div>
</body>
</html>
