<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ресторанний менеджмент</title>
</head>
<body>
<h2>Ресторанний менеджмент</h2>
<table>
    <tr>
        <th>Назва</th>
        <th>Опис</th>
        <th>Дії</th>
    </tr>
    <tr th:each="restaurant : ${restaurants}">
        <td th:text="${restaurant.getName()}"></td>
        <td th:text="${restaurant.getDescription()}"></td>
        <td>
            <a th:href="@{/admin/{adminId}/restaurant/{id}/edit(id=${restaurant.getId()},adminId=${adminId})}">
                Редагувати
            </a>
            <a th:href="@{/admin/{adminId}/restaurant/{id}/dishes(id=${restaurant.getId()},adminId=${adminId})}">
                Страви
            </a>
            <form th:action="@{/admin/{adminId}/restaurant/{id}/delete(id=${restaurant.getId()},adminId=${adminId})}"
                  method="post"
                  style="display:inline;">
                <button type="submit">Видалити</button>
            </form>
        </td>
    </tr>
</table>
<a th:href="@{/admin/{adminId}/create-restaurant(adminId=${adminId})}">Додати ресторан</a>
</body>
</html>
