<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Restaurant</title>
    <link rel="stylesheet" href="/css/restaurant-add.css">
</head>
<body>
<div class="container">
<h1>Додати новий ресторан</h1>

<form th:action="@{/admin/{adminId}/create-restaurant(adminId=${adminId})}" th:object="${restaurant}" method="post">
    <div>
        <label for="name">Restaurant Name:</label>
        <input type="text" id="name" th:field="*{name}" required class="form-control" placeholder="Назва *">
    </div>

    <div>
        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}" class="form-control" placeholder="Опис *"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Створити ресторан</button>
</form>

<a th:href="@{/admin/{adminId}/restaurants(adminId=${adminId})}" class="btn btn-secondary">Повернутись до списку ресторанів</a>
</div>
</body>
</html>
