<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редагувати ресторан</title>
    <link rel="stylesheet" href="/static/css/restaurant-edit.css">
</head>
<body>
<div class="container">
<h1>Редагувати ресторан</h1>
<form th:action="@{/admin/{adminId}/restaurant/{id}/edit(id=${restaurant.getId()},adminId=${adminId})}"
      th:object="${restaurant}"
      method="post">
    <label>Назва: <input type="text" th:field="*{name}"class="form-control" placeholder="Назва ресторану *" /></label><br>
    <label>Опис: <input type="text" th:field="*{description}" class="form-control" placeholder="Опис ресторану *"/></label><br>
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>
</div>
</body>
</html>
