<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Керування користувачами</title>
</head>
<body>
<h1>Керування користувачами</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Ім'я користувача</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Роль</th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getPhoneNumber()}"></td>
        <td th:text="${user.getRole()}"></td>
        <td>
            <a th:href="@{/admin/{adminId}/user/{id}/edit(id=${user.getId()},adminId=${adminId})}">Edit</a>
            <form th:action="@{/admin/{adminId}/user/{id}/delete(id=${user.getId()},adminId=${adminId})}" method="get" style="display:inline;">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/admin/{id}/add-user(id=${adminId})}">Додати користувача</a>
</body>
</html>
