<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Кошик покупок</title>
  <link rel="stylesheet" href="/static/css/cart-view.css">
</head>
<body>
<div class="container">
<h1>Кошик покупок</h1>
<table>
  <thead>
  <tr class="columns">
    <th>Назва страви</th>
    <th>Кількість</th>
    <th>Ціна</th>
    <th>Сума</th>
    <th>Дії</th>
  </tr>
  </thead>
  <tr th:each="item : ${cartItems}">
    <td th:text="${item.getDish().getName()}"></td>
    <td>
      <form th:action="@{/user/{userId}/dish/{dishId}/update(userId=${userId},dishId=${item.getDish().getId()})}"
            method="get">
        <label>
          <input type="number" name="quantity" th:value="${item.quantity}" min="1" required>
        </label>
        <button type="submit" class="button-refresh">Оновити</button>
      </form>
    </td>
    <td th:text="${item.getDish().getPrice()}"></td>
    <td th:text="${item.getPrice()}"></td>
    <td>
      <a class="btn-danger" th:href="@{/user/{userId}/dish/{dishId}/remove(userId=${userId},dishId=${item.dish.id})}">Видалити</a>
    </td>
  </tr>
</table>

<h2>Загальна сума: <span th:text="${totalPrice}">0</span> грн</h2>

<a class="button-secondary" th:href="@{'/user/' + ${userId} + '/cart/clear'}">Очистити кошик</a>
<a class="button-secondary" th:href="@{'/user/' + ${userId} + '/checkout'}">Оформити замовлення</a>

</div>
</body>
</html>
