<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <link rel="stylesheet" href="/css/restaurant-menu.css">

</head>
<body>
<div class="restaurant-name">
<h1 th:text="${restaurant.getName()}">Назва</h1>
<p th:text="${restaurant.getDescription()}">Опис</p>
</div>
<div class="container">
<h2>Menu</h2>

<div th:each="dish : ${dishes}">
    <div>
        <h3 th:text="${dish.getName()}" class="restaurant-name">Назва</h3>
        <p th:text="${dish.getDescription()}">Опис</p>
        <p>Price: $<span th:text="${dish.getPrice()}">0.00</span></p><br>
        <a th:href="@{'/user/' + ${userId} + '/restaurant/' + ${restaurant.getId()} + '/dish/' + ${dish.getId()}}"
           class="btn btn-secondary">Детальніше</a>
        <a th:href="@{'/user/' + ${userId} + '/dish/' + ${dish.getId()} + '/add'}"
        class="btn btn-secondary">Додати до кошика</a>
    </div><br><br>
    <hr>
</div>
</div>
<a th:href="@{'/user/' + ${userId} + '/restaurants'}" class="btn-secondary">До списку ресторанів</a>
<a th:href="@{/user/{id}/home(id=${userId})}" class="btn-secondary">Домашня сторінка</a>
</body>
</html>
