
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("/images/edit-profile_background.jpg");
    background-size: cover;
    background-position: center;
}


.container {
    background-color:rgba(32, 29, 29, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    
}

.container::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); 
    border-radius: 12px; 
    z-index: -1;
}

h2 {
    margin-bottom: 30px;
    color: hsl(27, 94%, 79%);
    font-size: 30px;
}

.form-group {
    margin-bottom: 25px;
    text-align: left;
}

label {
   
    color:rgb(255, 175, 144);
}


.form-control {
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ddd; 
    background-color: transparent; 
    color: #333; 
    transition: border-color 0.3s ease; 
}

.form-control:focus {
    outline: none;
    border-bottom: 2px solid #cf7b54; 
}

.buttons-row{
    display: flex;
    justify-content: center; 
    gap: 10px; 
}


.btn-primary {
    display: block;
    margin: 0 auto;
    background-color: #E5533D;;
    color: #FFFFFF;
    padding: 12px;
    border: none;
    border-radius: 25px;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #963729;
}

.btn-secondary{
    display: flex;
    right: 0%; 
    gap: 10px; 
    background-color: #6d4944;
    color: #dad4d4;
    padding: 12px;
    border: none;
    border-radius: 25px;
    width: 40%;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover{
    background-color: #963729;
}
.btn-danger{

    background-color: #6d4944;
    color: #dad4d4;
    padding: 12px;
    border: none;
    border-radius: 25px;
    width: 40%;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    transition: background-color 0.3s ease;

}
.btn-danger:hover{
    background-color: #963729;
}

.alert-success{
    margin-top: 20px;
    color: #c2c1c0;
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    .container {
        padding: 5px;
    }
    .text {
        font-size: 1.5rem; 
    }
}
