/* Загальний стиль сторінки */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("/static/images/login_background.jpg"); /* Шлях до вашого зображення */
    background-size: cover;
    background-position: center;
}

/* Контейнер */
.container {
    background-color:rgba(179, 177, 177, 0.5);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.container::before {
    content: ""; /* Псевдоелемент не має контенту */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Напівпрозорий чорний фон для затемнення */
    border-radius: 12px; /* Округлені краї */
    z-index: -1; /* Щоб затемнення було під вмістом */
}

/* Заголовок */
h2 {
    margin-bottom: 30px;
    color: hsl(27, 94%, 79%);
    font-size: 30px;
}

/* Стиль для групи полів */
.form-group {
    margin-bottom: 25px;
    text-align: left;
}

/* Приховати мітку, але зберегти її для доступності */
label {
   
    color:rgba(0, 0, 0, 0)/* Це приховує мітку на екрані */
}


.form-control {
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ddd; /* Лише нижня лінія */
    background-color: transparent; /* Прозорий фон */
    color: #333; /* Колір тексту */
    transition: border-color 0.3s ease; /* Плавний перехід кольору лінії */
}

/* Лінія при фокусі */
.form-control:focus {
    outline: none;
    border-bottom: 2px solid #cf7b54; /* Зміна кольору лінії при фокусі */
}

.form-control::placeholder {
    color: #afaeae; /* колір тексту placeholder */
    opacity: 1; /* робить колір повністю непрозорим */
}

/* Кнопка входу */
.btn-primary {
    background-color: #FF6347;
    color: #FFFFFF;
    padding: 12px;
    border: none;
    border-radius: 25px;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #E5533D;
}

.message-for-registration{
    margin-top: 7%;
    color: #c2c1c0;
}
/* Повідомлення про помилку */
.error-message {
    color: #692215;
    margin-top: 10px;
    font-size: 16px;
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    .container {
        padding: 5px;
    }
    .text {
        font-size: 1.5rem; /* Розмір шрифту адаптується під root елемент */
    }
}
