body {
    
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("/static/images/dashboard_user-list_background.jpg"); 
    background-size: cover;
    background-position: center;
}

h1 {
    color: #fce4da;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    background-color:rgba(252, 128, 106, 0.801);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.container::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); 
    border-radius: 12px; 
    z-index: -1; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #d8d0d0;
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #501208ad;
    color: #ffffff;
}

th, td {
    width: 25%;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
}


td {
    color: #2c2c2c;
}

a, .btn {
    display: inline-block;
    text-decoration: none;
    padding: 8px 12px;
    margin: 5px 0;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a {
    color: #251f1f;
    background-color: #fdae87;
    cursor: pointer;
}

a:hover {
    background-color: #612412;
    color: #fff;
}

.btn-danger {
    color: #fff;
    background-color: #e63946;
    border: none;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #d62828;
}

th {
    font-weight: bold;
}

.button-add{
    padding: 15px;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
    background-color: #9c3c2be0;
    cursor: pointer;
}
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    .container {
        padding: 5px;
    }
    .text {
        font-size: 1.5rem;
    }
}


