<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Домашня сторінка користувача</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

<div class="container">
    <h2>Ласкаво просимо, <span th:text="${user.getUsername()}">[Ім'я користувача]</span>!</h2>

    <div class="content">
    <div class="user-info">
        <p><strong>Ім'я користувача:</strong> <span th:text="${user.getUsername()}">[Ім'я користувача]</span></p>
        <p><strong>Email:</strong> <span th:text="${user.getEmail()}">[Email]</span></p>
        <p><strong>Номер телефону:</strong> <span th:text="${user.getPhoneNumber()}">[Телефон]</span></p>
        <p><strong>Роль:</strong> <span th:text="${user.getRole()}">[Роль]</span></p>
    </div>

    <div class="actions">
        <a th:href="@{/user/{id}/orders(id=${user.getId()})}" class="btn btn-primary">Переглянути історію замовлень</a>
        <a th:href="@{/user/{id}/user-edit(id=${user.getId()})}" class="btn btn-secondary">Редагувати профіль</a>
        <a th:if="${user.isAdmin()}" th:href="@{'/admin/' + ${user.getId()} + '/dashboard'}" class="btn btn-secondary">До інформаційної панелі</a>
        <a th:href="@{'/user/' + ${user.getId()} + '/restaurants'}" class="btn btn-secondary">Ресторани</a>
        <a href="/login" class="btn btn-danger">Вийти</a>
</div>

</body>
</html>
