<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Логін</title>
    <link rel="stylesheet" href="/css/login-registration.css">
</head>
<body>
<div class="container">
    <h2>Вхід</h2>

    <!-- Відображення повідомлення про помилку, якщо вхід невдалий -->
    <div th:if="${param.error}" class="error-message">
        <p>Невірне ім'я користувача або пароль</p>
    </div>

    <!-- Форма для логіну, відправляється на /perform_login -->
    <form th:action="@{/login}" method="post">
        <label>Ім'я користувача: <input type="text" name="username" required class="form-control" placeholder="Ім'я *"></label><br>
        <label>Пароль: <input type="password" name="password" required class="form-control" placeholder="Пароль *"></label><br>
        <button type="submit" class="btn-primary">Вхід</button>
    </form>

    <!-- Посилання для реєстрації -->
    <p class="message-for-registration">Ще не зареєстровані? <a th:href="@{/registration}">Зареєструватися</a></p>
</div>
</body>
</html>
