<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вхід</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/style.css"> <!-- Додаткові стилі за потреби -->
</head>
<body>

<div class="container">
    <h2>Вхід до облікового запису</h2>

    <form th:action="@{/user/login}" method="post">
        <div class="form-group">
            <label for="username">Ім'я користувача:</label>
            <input type="text" id="username" name="username" required class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Увійти</button>

        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
    </form>
</div>

</body>
</html>
