<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Логін</title>
</head>
<body>
<div class="container">
    <h2>Вхід</h2>

    <!-- Відображення повідомлення про помилку, якщо вхід невдалий -->
    <div th:if="${param.error}">
        <p>Невірне ім'я користувача або пароль</p>
    </div>

    <!-- Форма для логіну, відправляється на /perform_login -->
    <form th:action="@{/login}" method="post">
        <label>Ім'я користувача: <input type="text" name="username"></label><br>
        <label>Пароль: <input type="password" name="password"></label><br>
        <button type="submit">Вхід</button>
    </form>

    <!-- Посилання для реєстрації -->
    <p>Ще не зареєстровані? <a th:href="@{/registration}">Зареєструватися</a></p>
</div>
</body>
</html>
